*
{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body
{
    /*background-image: url("/Users/nikisharomain/Desktop/spaceship_game/media/game_wallpaper.jpeg");*/
    font-family: 'Amatic SC', cursive;
    font-family: 'Syne Mono', monospace;
    
}

#startOrStopImg
{
    position: fixed;
    bottom: 10px;
    right: 12px;
}

/*welcome Screen*/

#welcomeScreen
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    height: 100vh;
    background-image: linear-gradient(315deg, #130e3a 0%, #021304 74%); 
}

h1
{
    color:white;
    font-size: 3rem;
    margin: 95px 0 10px 0;
}

.spaceshipImage
{
    margin: 18px;
    animation: shakeY;
    animation-duration: 17s;
}

#rules
{
    background-image: linear-gradient(315deg, #99da45 0%, #0f8f1a 74%);
    transition: 500ms;
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    border:rgba(65, 132, 234, 0.75);
}

#gameRulesBtn
{ 
    background-color: transparent;
    transition: 500ms;
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    border: 2px solid white;
    height: 48px;
    font-size: 1.5rem;
}

#rulesContainer
{
    color:white;
    font-size: 1rem;
    width: 50vw;
    padding: 25px;
}

.displayRules
{
    display: block;
}

#startGameBtn
{
    background-color: transparent;
    transition: 500ms;
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    border: 2px solid white;
    height: 48px;
    font-size: 1.5rem;
}

#startGameBtn:hover
{
    background-image: linear-gradient(-315deg, #702428 64%, #ce4158 0%);
}

#gameRulesBtn:hover
{
    background-image: linear-gradient(-315deg, #702428 64%, #ce4158 0%);
}

#startGameBtn:active
{
    animation: lightSpeedOutRight;
    animation-duration: 4s;
}



/*Player Details*/
#playerDetails
{
    display: grid;
    grid-template-columns: 45% 55%;
    padding-top: 15vh; 
}

#playerAvatar
{
    background-image: url("../media/simple-flying-rocket-spaceship-vector-20599333.jpeg");
    background-position: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid white;
    justify-self:end;
}

#name
{
    align-self: center;
    padding-left: 25px;
    justify-self: start;
}

label
{
    font-size: 1.7rem;
    color: white;
}

input[type=text]
{
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 225px;
    padding: 35px 0 7px 0;
    font-size: 1.3rem;
    outline: none;
    background-color: transparent;
}

#difficulty
{
    margin-top: 100px;
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#difficulty h3
{
    font-size: 1.4rem;
    margin-bottom: 9px;
    color: white;
}

button
{
    padding: 9px;
    width: 18%;
    margin: 10px 0;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 15%;
    transition: 500ms;
    color: white;
    font-family: 'Syne Mono', monospace;
}

#easyLevel
{
    background-image: linear-gradient(315deg, #99da45 0%, #0f8f1a 74%);
    transition: 500ms;
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    border:rgba(65, 132, 234, 0.75);
}

#hardLevel
{
    background-image: linear-gradient(315deg, #c76e6e 0%, #b10c22 74%);
    transition: 500ms;
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    border:rgba(65, 132, 234, 0.75);
}

#difficulty>button:hover 
{
	background-position: right;
}

#easyLevel:hover
{
    background-position: right;
    background-image: linear-gradient(-315deg, #0f8f1a 74%, #99da45 0%);
}

#hardLevel:hover
{
    background-position: right;
    background-image: linear-gradient(-315deg, #e21717 74%, #e45542 0%);
}


/*Player Screen*/
#playerScreen
{
    background-image: linear-gradient(315deg, #f57878 0%, #6da9b1 74%);
    height: 100vh;
    display:none;
}

#playArea
{
    background-image: url("../media/game_wallpaper.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display:none;
}

#spaceshipContainer
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 16px;
    margin:auto;
    justify-items: center;
    height: 76vh;

}

.spaceships
{
    height: 50px;
    width: 50px;
    background-color: brown;
}

#cannon
{
    height: 50px;
    width: 50px;
    background-color: blue;
    align-self: end;
    grid-column: 1;
}

#bullet{
    height: 25px;
    width: 25px;
    background-color: black;
    display: none;
}


#timer, #hits, #misses
{
    color: white; 
    font-size: 1.5rem;
    margin-bottom: 5px;
}




